{% extends 'base.html.twig' %}

{% block title %}Weather index{% endblock %}

{% block body %}
    <h1>Weather index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Degrees_day</th>
                <th>Degrees_night</th>
                <th>Humidity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for weather in weather %}
            <tr>
                <td>{{ weather.id }}</td>
                <td>{{ weather.date ? weather.date|date('Y-m-d') : '' }}</td>
                <td>{{ weather.degreesDay }}</td>
                <td>{{ weather.degreesNight }}</td>
                <td>{{ weather.humidity }}</td>
                <td>
                    <a href="{{ path('app_weather_controler2_show', {'id': weather.id}) }}">show</a>
                    <a href="{{ path('app_weather_controler2_edit', {'id': weather.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_weather_controler2_new') }}">Create new</a><br><br>
    <a href="{{ path('app_location_index') }}">Location</a>
{% endblock %}
